/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --red: #e50914;
    --hover: #f5252f;
    --white: #fff;
    --black: #000;
    --grey: #171717;
    --dark-grey: #222;
    --text: #57595c;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Martel Sans";
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__logo--image {
    width: 15rem;
}

.nav__items--select, .nav__items--button {
    padding: .8rem 1.8rem;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: .3rem;
    cursor: pointer;
    outline: none;
    color: var(--white);
}

.nav__items--select {
    border: 1px solid var(--white);
    background: transparent;
    width: 11rem;
}

.nav__items--select option {
    background-color: var(--grey);
}

.nav__items--button {
    background-color: var(--red);
    font-size: 1.4rem;
}

.header__title, .header__text {
    width: 50%;
    color: var(--white);
    text-align: center;
    font-weight: 700;
}

.header__title {
    font-size: 5rem;
    line-height: 6rem;
    margin: 15rem auto 2rem auto;
}

.header__text {
    font-size: 2rem;
    margin: 0 auto;
}

.header__form {
    width: 50%;
    margin: 4rem auto;
    justify-content: center;
}

.header__form--label {
    display: block;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto 1rem auto;
}

.header__form--input {
    width: 75%;
    padding: 2.2rem 1rem;
    border: none;
    outline: none
}

.header__form--button {
    width: 20%;
    padding: 2rem 1rem;
    background-color: var(--red);
    color: var(--white);
    font-size: 1.3rem;
    cursor: pointer;
}

.header__form--button:hover, .nav__items--button:hover {
    background-color: var(--hover);
}

.main,
.footer {
    width: 100%;
    background-color: var(--black);
}

.main__tv,
.main__app,
.main__device,
.main__children,
.main__faq,
.footer {
    width: 100%;
    height: 48vh;
    border-top: 12px solid var(--dark-grey);
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__tv--article,
.main__app--article,
.main__device--article,
.main__children--article {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tv__article--title,
.app__article--title,
.device__article--title,
.children__article--title,
.main__faq--title {
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
    margin: 0 0 2rem 0;
    line-height: 4.5rem;
}

.tv__article--text,
.app__article--text,
.device__article--text,
.children__article--text {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.main__tv--figure {
    position: relative;
}

.main__tv--video {
    position: absolute;
    width: 80%;
    top: 105px;
    left: 95px;
}

.main__device--figure,
.main__children--figure {
    margin-top: 4rem;
}

.main__faq {
    height: 100vh;
}

.faq {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__faq--questions {
    width: 100%;
    align-items: center;
}

.faq__question--item {
    width: 70%;
    height: auto;
    background-color: #303030;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.faq__question--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--white);
    height: 100%;
}

.faq__question--title p, button {
    font-size: 2rem;
}

.faq__question--text {
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 1.5rem;
    border-top: 1px solid var(--white);
    text-align: start;
    line-height: 2.5rem;
    margin: .8rem 0;
    padding: 1rem 0;
    display: none;
}

.show {
    display: block;
}

.faq__question--title button {
    background-color: transparent;
    color: var(--white);
    border: none;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 4rem 0;
    margin: 0 auto;
}

.footer__section--title,
.footer__section--location {
    color: var(--text);
    font-size: 1.5rem;
}

.footer__section--nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footer__nav--list {
    display: flex;
    flex-direction: column;
}

.footer__list--item {
    color: var(--text);
    margin: 1rem 0;
    cursor: pointer;
}

.footer__list--item:hover {
    text-decoration: underline;
}

.footer .nav__items--select {
    margin: 0;
}